*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    margin: auto 0;
}
button{
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:active{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.container{
    width: 77%;
    max-width: 1300px;
    margin: auto;
}

header{
    height: 119vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(images/BgImg.png);
    background-size: cover;
    background-position: center top;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 43px;
    padding-left: 11%;
    padding-right: 12%;
    font-size: 12px;
    text-transform:uppercase;
}



nav ul{
    list-style-type: none;
    display: flex;
}

/* .list__item{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
} */

.list__item-text{
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    transition: 0.5s ease-in;
    margin: 0 9px;
}
.list__item-text_default{
    font-weight: bold;
}

.list__item-text:hover{
    color: black;
}

.nav__user-set{
    display: flex;
}
.nav__btn-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__btn-switch img{
    margin-right: 10%;
    width: 35%;
}


.nav__btn-login{
    font-size: inherit;
    background-color: inherit;
    padding: 10px 26px;
    color: white;
    border-color: white;
}

.nav__btn-login:hover {
    background: #fff;
    color:#ED4C5C;
    opacity: 0.8;
}
.nav__btn-login:active {
    background: #fff;
    opacity: 1;
    color:#ED4C5C;
}

.hero{
    text-align: center;
    margin-top: 150px;
    color: #fff;
}

.hero__name{
    font-weight: bold;
    font-size: 66px;
    text-transform: uppercase;
    letter-spacing: 5%;
}

.hero__desc {
    font-size: 21px;
    margin: 30px 0 50px 0;
    font-weight: 100;
    line-height: 150%;
  }
  
.hero__btn {
padding: 13px 42px;
border-color: white;
background-color: #fff;
color: #ed4c5c;
/* margin-bottom: 300px; */
}

.hero__btn:hover{
    background-color: inherit;
    color: #fff;
}


/* -------------   Overview   ------------ */
.overview{
    display: flex;
}
.overview__left{
    width: 50%;
    margin: 125px 0;
}

.overview__left-name{
    font-size: 29px;
    margin-bottom: 48px;
}

.overview__left-decs{
    font-size: 12.5px;
    margin-bottom: 25px;

}

.overview__left-link{
    font-size: 14px;
    color: #ED4C5C;
    transition: 0.4s ease-in-out;
}

.overview__left-link:hover{
    font-size: 15px;
    color: #8e1c27;
}

.overview__right{
    width: 50%;
    display: flex;
}

.overview__right-play{
    left: 8%;
    position: relative;
    width: 66px;
    transition: 0.7s;
}

.overview__right-play:hover{
    opacity: 0.9;
    transform:scale(1.2) ;
}

.overview__right-play:active{
    opacity: 0;
    background-color: #fff;
}

.overview__right-video{
    width: 415px;
    height: 275px;
    margin: 80px 255px 95px 0;
}

/* -------------   Features   ------------ */

#features{
    background-color: #fafafa;
}

.section__name{
    text-align: center;
    padding: 30px 0 65px 0;
    font-size: 30px;
}
.features__list{
    display: flex;
    justify-content: space-between;
}

.list__item{
    list-style-type: none;
}

.card__img{
    width: 30s0px;
    height: 220px;
}

.card__info{
    text-align: center;
    background-color: #fff;
    transform: translate(9%, -50%);
    padding: 15px 10px;
    width: 84%;
    border-radius: 8px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,0.24);
    /* width: 84%;
    height: ; */
}

.card__name{
    font-size: 14px;
    margin: 20px;
}

.card__desc ,.card__link{
    font-size: 11px;
    margin: 20px;
}

.card__link{
    font-weight: bold;
    color: #ED4C5C;
    transition: 0.4s ease-in-out;
}

.card__link:hover{
    font-size: 12px;
    color: #8e1c27;
}


